<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>baidu</key>
		<string>baidu request location</string>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>百度地图想要获取定位权限，以便定位当前位置信息</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>百度地图想要获取定位权限，以便定位当前位置信息</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>百度地图想要获取定位权限，以便定位当前位置信息</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>location</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>百度导航需要使用照相机功能</string>
</dict>
</plist>
